<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @track.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>File:</strong>
  <%= @track.file %>
</p>

<p>
  <strong>Music:</strong>
  <%= @track.music %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
