<nav class="nav" role="navigation">
  <ul>
    <li><%= link_to_unless_current 'Home', root_path %></li>
    <li><%= link_to_unless_current 'Bio', '/bio' %></li>
    <% if false %><li><%= link_to_unless_current 'Photos', photos_path %></li><% end %>
    <% if false %><li class="sub-menu"><%= link_to_unless_current 'Music', music_path %>

    <% @albums=Album.all.order(:release).reverse %>
    <ul>
    <% @albums.each do |album| %>
      <li><%= link_to album.title, album %></li>
    <% end %>
    </ul>

    </li><% end %>
    <% if false %><li><%= link_to_unless_current 'Videos', videos_path %></li><% end %>
    <li><%= link_to_unless_current 'News', news_index_path %></li>
    <% if false %><li><%= link_to_unless_current 'Tour', tour_path %></li><% end %>
    <li><%= link_to_unless_current 'Contact', contact_path %></li>
  </ul>
</nav>