<% @playlist = Playlist.find(1).tracks %>

<div id="player">
  <i class="fa fa-step-backward" id="prev"></i>
  <i class="fa fa-play fa-lg" id="play"></i>
  <i class="fa fa-step-forward" id="next"></i>
  <%= image_tag @music.cover.url(:thumb), :id => "cover" %>
  
  <div id="percent">
    <div id="timeline">
      <p id="title">Aeolus - She Threw Herself Into the Sea</p>
      <p id="time">00:00/2:18</p>
    </div>    
  </div>
    
  <div id="clearer-g"></div>
  <i class="fa fa-volume-up" id="btn-vol"></i>
  <div id="clearer-d"></div>
  
  <i class="fa fa-bars" id="togglepl"></i>
  <i class="fa fa-caret-left" id="caret"></i>
  
</div>

<div id="volume">
  <input type="range" min="0" max="100" value="50" id="slider">
</div>

<div id="playlist">

  <% compteur = 0 %>
  <% @playlist.each do |track| %>
    <% compteur+= 1 %>
    <ul audiourl="<%= track.file.url %>" cover="<%= track.music.cover.url %>">
      <li><%= compteur %></li>
      <li><%= track.title %></li>
      <li>Aeolus</li>
      <li>00:00</li>
    </ul>
    
  <% end %>
</div>