<div class="divider divider-centered">
  <h2>News</h2>
</div>

  <% if user_signed_in? %>
    <div class="admin"><%= link_to 'New Post', new_news_path %></div>
  <% end %>

<section class="cols-2">

  <main>
    
    <% @news.each do |news| %>
    
    <% if user_signed_in? %>
    <div class="admin">
        <%= link_to 'Edit', edit_news_path(news) %>
        <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
    
    <article>
      <%= link_to news.title, news %>
      <em>By <%= link_to news.user.username, news_index_path(:author => news.user.id) %> on <%= link_to news.created_at.to_formatted_s(:obsirails), news_index_path(:date => news.created_at.strftime("%Y-%m-%d")) %></em>
      <%= news.body.html_safe %>
    </article>
    <% end %>
    
    <%= paginate @news %>
    
  </main>
  
  <% @latest_news = News.limit(3).order(created_at: :desc).where(:published => true) %>
  <%= render 'partials/latest_news', :latest_news => @latest_news %>
  
</section>