<div class="divider divider-centered">
  <h2><%= link_to 'News', news_index_path %></h2>
</div>

<section class="cols-2">
  
  <main>
    <% if user_signed_in? %>
      <div class="admin">
        <%= link_to 'Edit', edit_news_path(@news) %>
      </div>
    <% end %>
    <article>
      <h1><%= link_to @news.title, @news %></h1>
      <em>By <%= link_to @news.user.username, news_index_path(:author => @news.user.id) %> on <%= link_to @news.created_at.to_formatted_s(:obsirails), news_index_path(:date => @news.created_at.strftime("%Y-%m-%d")) %></em>
      <%= @news.body.html_safe %>
    </article>

    <div class="divider divider-mini"></div>
    <div class="prev-next">
      
      <div><% if @news.prev %><i class="fa fa-arrow-left"></i><%= link_to "Prev", @news.prev %><% end %></div>
      <div><% if @news.next %><%= link_to "Next", @news.next %><i class="fa fa-arrow-right"></i><% end %></div>
      
    </div>

  </main>
    
  <% @latest_news = News.limit(3).order(created_at: :desc).where(:published => true) %>
  <%= render 'partials/latest_news', :latest_news => @latest_news %>
    
</section>