<div class="divider divider-centered">
  <h2>Records</h2>
</div>

<% if user_signed_in? %>
  <div class="admin">
  <%= link_to 'Edit', edit_music_path(@music) %>
  <%= link_to 'Destroy', @music, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<section class="musics">
  
  <div class="album">
    <%= link_to image_tag(@music.cover.url), @music.cover.url %>
    <div class="buttons">
      <a class="btn-music" href="#">Itunes</a>
      <a class="btn-music" href="#">Amazon</a>
      <a class="btn-music" href="#">Spotify</a>
    </div>    
  </div>

  <main>
    <audio id="music"></audio>
    <h2><%= @music.title %></h2>
    <strong>Release: <%= @music.release %></strong>
    <% if @music.tracks.any? %>
      <% @music.tracks.each do |track| %>
        <article>
          <%= link_to "►", track.file.url, :class => "btn-play" %>
          <h4 class="number" id="<%= track.number %>"><%= track.number %></h4>
          <p><%= link_to track.title , track %></p>
          <em class="duration" id="em<%= track.number %>">-:--</em>
        </article>
      <% end %>
    <% else %>
      <article>
        <p>No Track</p>
      </article>
    <% end %>
  </main>

</section>

<script>
  $(document).ready(function() {
    var last_id=0;
    $('article').click(function() {
      var audioElement = document.getElementById("music");
      audioElement.pause();
      if (last_id != 0) {
        $('h4#'+last_id).text(last_id);
      }
      var url = $(this).children('a.btn-play').attr('href');
      last_id = $(this).children('h4').attr('id');
      $(this).children('h4').text('►');
      console.log(last_id);
      audioElement.setAttribute('src', url);
      
      audioElement.addEventListener("canplaythrough", function() {
        audioElement.play();
      }, true);
      
      return false;
    });
  });
</script>