<div class="divider divider-centered">
  <h2><%= link_to"Records", musics_path %></h2>
</div>

<% if user_signed_in? %>
  <div class="admin">
  <%= link_to 'Edit', edit_music_path(@music) %>
  <%= link_to 'Destroy', @music, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<section class="musics">
  
  <div class="album">
    <%= link_to image_tag(@music.cover.url), @music.cover.url %>
    <div class="buttons">
      <a class="btn-music" href="#">Itunes</a>
      <a class="btn-music" href="#">Amazon</a>
      <a class="btn-music" href="#">Spotify</a>
    </div>    
  </div>

  <main>
    <audio id="music"></audio>
    <h2><%= @music.title %></h2>
    <strong>Release: <%= @music.release %></strong>
    <% if @music.tracks.any? %>
      <% @music.tracks.each do |track| %>
        <article>
          <%= link_to "►", track.file.url, :class => "btn-play" %>
          <h4 class="number" id="<%= track.number %>"><%= track.number %></h4>
          <p><%= link_to track.title , track %></p>
          <em class="duration" id="em<%= track.number %>">-:--</em>
        </article>
      <% end %>
    <% else %>
      <article>
        <p>No Track</p>
      </article>
    <% end %>
  </main>

</section>

<script>
  $(document).ready(function() {
    var last_id=0;
    $('article').click(function() {
      var audioElement = document.getElementById("music");
      
      if ($(this).children('h4').text() == "❚❚")
      {
        audioElement.pause();
        $(this).children('h4').text('►');
        $(this).children('a').text('►');
        return false;
      } else if ($(this).children('h4').text() == "►") {
        audioElement.play();
        $(this).children('h4').text('❚❚');
        $(this).children('a').text('❚❚');
        return false;
      }
      
      audioElement.pause();
      $('article').css("background", "transparent");
      
      if (last_id != 0) {
        $('h4#'+last_id).text(last_id);
      }
      $(this).css("background", "rgba(255,255,255,.1)");
      var url = $(this).children('a.btn-play').attr('href');
      last_id = $(this).children('h4').attr('id');
      $(this).children('h4').text('❚❚');
      $(this).children('a').text('❚❚');
      
      audioElement.setAttribute('src', url);
      
      audioElement.addEventListener("canplaythrough", function() {
        audioElement.play();
      }, true);
      
      audioElement.addEventListener("timeupdate", function() {
        $('#em'+last_id).text(formatTime(this.currentTime) +" / " +formatTime(this.duration));
      });
      
      return false;
    });
  });
  function formatTime(seconds) {
    minutes = Math.floor(seconds / 60);
    minutes = (minutes >= 10) ? minutes : "0" + minutes;
    seconds = Math.floor(seconds % 60);
    seconds = (seconds >= 10) ? seconds : "0" + seconds;
    return minutes + ":" + seconds;
  }
</script>