<!DOCTYPE html>
<html>
  <head>
    <title>Obsirails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <!-- Google Font 'Open Sans' -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    
    <%= csrf_meta_tags %>
  </head>
  
  <body>
  
    <div class="<%= jumbo_tag %>">
      <h1>ObsiRails</h1>
      <p>Nice RoR Portage from audiotheme's Obsidian by Equipe 4 ;)</p>
    </div>
  
    <% if user_signed_in? %>
        <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, :class => "admin") %></li>
    <% end %>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
    <div class="wrapper">
      <%= yield %>
      
    <!-- Footer -->
    <div class="divider divider-mini"></div>
      <footer>
          <ul>
              <li><a href="#" target="_new"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-facebook-official fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-instagram fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-youtube-play fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-vimeo fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-amazon fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-apple fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-soundcloud fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-lastfm fa-lg"></i></a></li>
              <li><a href="#" target="_new"><i class="fa fa-spotify fa-lg"></i></a></li>
          </ul>
          <p>ObsiRails - Made in Boitron - Equipe 4</p>
      </footer>   
    </div>

  </body>
  
</html>
