<!DOCTYPE html>
<html>
  <head>
    <title>Obsirails</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <!-- Google Font 'Open Sans' -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    
    <% if user_signed_in? %>
      <%= render 'partials/admin' %>
    <% end %>

    <%= render 'partials/nav' %>

    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>
  
    <div class="<%= jumbo_tag %>">
      <h1>ObsiRails</h1>
      <p>Nice RoR Portage from audiotheme's Obsidian by Equipe 4 ;)</p>
    </div>

  
    <div class="wrapper">
      <%= yield %>
      
    <% @latest_news = News.limit(3).order(created_at: :desc).where(:published => true) %>
    <%= render 'partials/about', :latest_news => @latest_news %>
    <%= render 'partials/footer' %>

  </body>
  
</html>
